.title {
   display: inline;
}
.sideBar {
   background: #EEE;
   padding: 20px;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   width: 250px;
}
.sideBarTitle {
   padding-bottom: 10px;
}
.newButton {
   margin-bottom: 11px;
   margin-left: 15px;
}
.removeBtn {
   position: fixed;
   top: 20px;
   right: 20px;
}
.currentRoom {
   display: flex;
   flex-direction: column;
   margin-left: 250px;
   width: auto;
   height: 100vh;
}
.text-messages {
   overflow-y: scroll;
   flex-grow: 1;
}

.title-bar {
   width: 100%;
   min-height: 70px;
   padding-left: 25px;
   background-color: #555;
}
.sendMessage {
   padding: 11px;
   bottom: 0;
   background-color: #666;
   width: 100%;
   min-height:60px;
}
.chat-username {
   font-size: 17px;
   padding-top: 5px;
}
.chat-timestamp {
   color: #999;
   font-size: 11px;
   padding-top: 12px;
}
.chat-message {
   width: 100%;
}
.bubble {
   border: 1px #ddd solid;
   border-radius: 8px;
   padding: 9px;
   background-color: #eee;
}
.form-inline {
   display: flex;
}
.form-control {
   flex-grow: 1;
}
.table th, .table td { 
   border-top: none !important; 
}
.roomTitle {
   color: white;
   display:inline-block;
}
.form-control {
   width: 120px;
}
