<section class="sideBar">
   <div class="sideBarT">
      <h2 class="title">Bloc Chat</h2>
      <button type="button" class="btn btn-primary newButton" ng-click="openCreateRoomModal()">New</button>
   </div>
   <uib-tabset vertical="true" type="pills">
      <uib-tab heading="{{ room.name }}" ng-repeat="room in rooms" ng-click="setCurrentRoom(room)"></uib-tab>
   </uib-tabset>
</section>

<section class="currentRoom" ng-show="currentRoom">
   <div class="title-bar">
      <h3 class="roomTitle">{{ currentRoom.name }}</h3>
      <button class="btn btn-danger removeBtn" ng-click="removeRoom(currentRoom)">Delete</button>   
   </div>
   <div class="text-messages">
     <table class="table">
        <tr ng-repeat="message in messages" scroll-to-bottom="messages">
           <td><div class="chat-username">{{ message.userName }}</div></td>
           <td><div class="chat-timestamp">{{ message.sentAt | date:"h:mma" }}</div></td>
           <td class="chat-message">
              <div class="bubble">{{ message.content }}</div>
           </td>
        </tr>
     </table>
   </div>
   <div class="sendMessage">
      <form class="form-inline" ng-submit="sendMessage(message); gotoBottom()"> <!--form-inline -->
         <input class="enterText form-control" type="text" ng-model="message" placeholder="Enter Text"><!--form-control-->
         <button type="submit" class="btn btn-info">Send</button>
      </form>
   </div>
</section>
